/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.paragraph {
  border: 1px solid black;
  width: 200px;
  padding: 14px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  margin: auto;
}